<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/donationAdmin.css" />
    <title>Donation Page</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-container">
        <div class="logo">Donation</div>
        <ul class="nav-links">
          <li><a href="/adminpanel">Home</a></li>
          <li><a href="/list-city">City</a></li>
          <li><a href="/emergencyadmin">Emergency</a></li>
          <li><a href="/admindonation">Donation</a></li>
        </ul>
      </div>
    </nav>

    <div class="donation-form">
      <h2>Donate Blood</h2>
      <form action="/search" method="post">
        <div class="form-group">
          <label for="city">City:</label>
          <select id="city" name="city">
            <option value="" disabled selected>Select City</option>
            <% cityList.forEach((item) => { %>
              <option <%= value= item.city %>> <%= item.city %> </option>
          <% }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="blood-group">Blood Group:</label>
          <select id="blood-group" name="blood_group">
            <option value="A+">A+</option>
      <option value="A-">A-</option>
      <option value="B+">B+</option>
      <option value="B-">B-</option>
      <option value="AB+">AB+</option>
      <option value="AB-">AB-</option>
      <option value="O+">O+</option>
      <option value="O-">O-</option>
            <!-- Add more options as needed -->
          </select>
        </div>
        <button type="submit" class="submit-btn">Submit</button>
      </form>
    </div>
    <div class="donors-table">
      <h2>Donors List</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>City</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Blood Group</th>
            <th>DOB</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% donationList.forEach((item) => { %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.city.city %></td>
            <td><%= item.contact %></td>
            <td><%= item.email %></td>
            <td><%= item.gender %></td>
            <td><%= item.blood_group %></td>
            <td><%= item.DOB %></td>
            <td>
              <form action="/deletedonation" method="get" >
              <input type="hidden" name="id" value= <%= item.id %>>
              <button type= "submit" class="delete-btn">Delete</button>
              </form>
              <form action="/updatedonation"  >
              <input type="hidden" name="id" value= <%= item.id %>>
              <button class="update-btn">Update</button>
              </form>
            </td>
          </tr>
          <% }) %>
          <!-- More rows can be added similarly -->
        </tbody>
      </table>
    </div>
  </body>
</html>
